software/tokenized_dataset
*simv
*.daidir
csrc
*.key
*.vdb
vc_hdrs.h
dve
vcdplus.vcd
debug_bin

*__pycache__*
output/
output/*
*.out
*.wb
*.ppln
*.elf
*.dump
*.dump_*
*.mem
*.log

verdi*
novas*
*fsdb*

synth/*.ddc
synth/*.chk
synth/*.db
synth/*.svf
synth/*.mr
synth/*.pvl
synth/*.res
synth/*_svsim.sv
synth/*_dclib

urgReport/

*.vpd